h1= title
p Welcome to #{title}
p
	a(href="base.html") Backbone.Events基本用法
	p Backbone最核心的事件机制的使用.
p
	a(href="todo.html") Todo List
	p Backbone自带的Sample, 照着敲了一遍.代码中加了一些注释方便自己理解.
p
	a(href="writer.html") Writer
	p 非常简单的Writer, 直接使用markdown语法编写, 使用html5本地存储存放数据.
p
	a(href="chat.html") Chat
	p node.js + socket.io, 暂时还没有支持到backbone. Chat应用后期打算使用Redis做后台数据pub/sub.